/*
---------
--LOGIN--
---------
*/

main {
	min-height: 500px;
	min-width: 100%;
	padding-top: 120px;
	display: flex;
	justify-content: center;
	font-family: 'Tahoma';
	font-size: 20px;
}

main h1 {
	font-family: 'Baloo', sans-serif;
	color: #001838;
	font-size: 40px;
}

main a{
	color: #0cc0cf;
	text-decoration: none;
} 

main a:hover {
	font-weight: bold;
	text-decoration: underline;
} 

main form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 20px;
	font-family:'Tahoma';
}

main form button{
	font-size: 20px;
	background-color: #001838;
	color: white;
	border-radius: 10px 10px 10px 10px;
	width: 100px;
	height: 40px;
	margin-top: 30px;
}

main form fieldset{
	width:120%;
	height:120%;
	border-radius:10px 10px 10px 10px;
	border-width: 5px;
	border-color: #001838;
	background:#aedffb;
	color:#000000;
	padding-top:10px;
}
main form legend {
	font-family: 'Baloo', sans-serif;
	font-size: 20px;
	color: #001838;
}


/*
----------
--HEADER--
----------
*/

header {
	display:flex;
	justify-content: space-between;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	padding: 10px;
	height: 100px;
	width: 100%;

	background-color: #00629b;
	color: white;
	font-family: 'Baloo', sans-serif;
}

header .main-header{
	display: flex;
	text-align: left;
	margin-right: -250px;
	margin-left: 20px;
}

header .main-header img{
	width: 100px;
	height: 100px;
}

header .main-header h1{
	align-items: center;
	display: flex;
	margin-left: 20px;
}

header .menu-header ul{
	list-style-type: none;
}

header .menu-header li {
	display: block;
	float: left;
	padding: 20px;
	font-size: 20px;
}

header .login-header {
	display: flex;
	text-align: center;
	align-items: center;
	color: #aedffb;
	margin-right: 30px;
}

header a, header a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

header a:hover {
	color: black;
	font-weight: bold;
} 

header .login-header a:hover {
	background-color: #aedffb69;
	border-radius:10px 10px 10px 10px;
}


/*
----------
--FOOTER--
----------
*/

footer {
	width: 100%;
	max-width: 1500px;
	min-height: 100%;
	padding: 20px 0;
	bottom: 0;
	background: #aedffb;
	clear: both;
	display: flex;
	justify-content:space-between;
	margin: auto;
}

footer .left-footer {
	margin-left: 30px;
}

footer .left-footer .logo-footer {
	width: 200px;
}

footer .left-footer .redes-footer {
	display: flex;
	justify-content: center;
}

footer .left-footer .redes-footer .icon-footer{
	margin: 20px;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	align-items:center;
	background: #0cc0cf;
}

footer .redes-footer .icon-footer:hover {
	opacity: 0.5;
	transform: scale(1.2);
	transition: all 0.3s ease;
}

footer .right-footer {
	margin-right: 30px;
}

footer .right-footer .links-footer{
	text-align: left;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: 50px;
}

footer .right-footer .links-footer ul.primary li{
	list-style-type: none;
}

footer .right-footer .links-footer a{
    font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color:white;
}

footer .right-footer .links-footer a:hover{
    color:#00629b;
	text-decoration: underline;
}

footer .right-footer .info-footer {
	text-align: end;
}

footer .right-footer .info-footer .link {
	color:#00629b
}

footer .right-footer .info-footer .link:hover {
	color:#001838;
}